DARK_CAT_0 ICON "src/cat/dark_cat_0.ico"
DARK_CAT_1 ICON "src/cat/dark_cat_1.ico"
DARK_CAT_2 ICON "src/cat/dark_cat_2.ico"
DARK_CAT_3 ICON "src/cat/dark_cat_3.ico"
DARK_CAT_4 ICON "src/cat/dark_cat_4.ico"
LIGHT_CAT_0 ICON "src/cat/light_cat_0.ico"
LIGHT_CAT_1 ICON "src/cat/light_cat_1.ico"
LIGHT_CAT_2 ICON "src/cat/light_cat_2.ico"
LIGHT_CAT_3 ICON "src/cat/light_cat_3.ico"
LIGHT_CAT_4 ICON "src/cat/light_cat_4.ico"
